<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>URL Shortener</title>
  </head>

  <body>

    <h1>URL Shortener</h1>
    <% if (locals.id) { %>
    <p>
      Your short URL:
      <a href="/url/<%= id %>">http://localhost:8000/url/<%= id %></a>
    </p>
    <% } %>
    
    

    <div>
      <form method="POST" action="/url">
        <label>Ener your original URL: </label>
        <input placeholder="https://example.com" name="url" type="text" />
        <button id="btn" type="submit">Generate</button>
      </form>
    </div>
  </body>
</html>
